/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Environment & Local Secrets
.env
.env.backup
.env.production
.env.*.local
auth.json

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db

# Laravel Storage & Caches
/storage/*.key
/storage/pail
.phpunit.result.cache

# Builds & Assets
/public/build
public/hot
public/storage

# SQLite local databases (if created)
/database/*.sqlite
/database/*.sqlite-journal

# Tooling
.phpactor.json
